USE [master]
GO
/****** Object:  Database [Grupo9_emociones3]    Script Date: 25/02/2024 10:11:59 ******/
CREATE DATABASE [Grupo9_emociones3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Grupo9_emociones3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Grupo9_emociones3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Grupo9_emociones3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Grupo9_emociones3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Grupo9_emociones3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Grupo9_emociones3]
GO
/****** Object:  Table [dbo].[Emocion]    Script Date: 25/02/2024 10:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emocion](
	[id_emocion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[emociones_obtenidas] [varchar](max) NULL,
	[recomendacion] [text] NULL,
	[fecha_generacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_emocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/02/2024 10:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[correo_electronico] [varchar](255) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[pais] [varchar](50) NOT NULL,
	[materia_impartida] [varchar](100) NULL,
	[foto_perfil] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emocion]  WITH CHECK ADD  CONSTRAINT [FK_Emocion_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Emocion] CHECK CONSTRAINT [FK_Emocion_Usuario]
GO
USE [master]
GO
